<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Suite">
    <test name="API">
        <classes>
            <class name="tests.api.UserApiTest"/>
            <class name="tests.api.RepositoryTest"/>
            <class name="tests.api.GetAFE"/>
            <class name="tests.api.PostAFE"/>
        </classes>
    </test>
    <test name="GUI">
        <classes>
        </classes>
    </test>
</suite>