<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Main Suite">
    <test name="API">
        <classes>
            <class name="tests.api.UserApiTest"/>
            <class name="tests.api.RepositoryTest"/>
            <class name="tests.api.GetAFE"/>
            <class name="tests.api.PostAFE"/>
        </classes>
    </test>
    <test name="GUI">
        <classes>
            <class name="tests.gui.negativeTest.IncorrectDataTest"/>
            <class name="tests.gui.negativeTest.ExceedingPermissibleDataTest"/>
            <class name="tests.gui.negativeTest.DefectTest"/>
            <class name="tests.gui.positiveTest.RepositoryTest"/>
        </classes>
    </test>
    <test name="GUI_LimitValues" parallel="methods" thread-count="2">
        <classes>
            <class name="tests.gui.positiveTest.LimitValuesTestLimit"/>
        </classes>
    </test>
</suite>